@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --popper-theme-background-color: hsl(var(--a));
 --popper-theme-background-color-hover: hsl(var(--a));
 --popper-theme-text-color: hsl(var(--ac));
 --popper-theme-border-width: 0px;
 --popper-theme-border-style: solid;
 --popper-theme-border-radius: var(--rounded-badge,1.9rem);
 --popper-theme-padding: 2px 8px;
 --popper-theme-box-shadow: none;
}

.popper {
  @apply text-sm badge;
}
